.full-bg {
    padding: 0;
    margin: 0;
    border: 0;
    background: url("wpp-saothome.jpg") no-repeat center center fixed;
    background-size: cover;
    
}

.navbar-collapse{
    padding-left: 100px;
}

.main-nav-active a{
    color: white !important;
    font-weight: bolder !important;
    text-shadow: 1px 1px red;
}

.main-nav a{
    color: white !important;
    font-weight: bolder !important;
    text-shadow: 1px 1px black;
}

.voltaire-regular {
    font-family: "Voltaire", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contact__container {
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    padding: 20px 0;
}

.contact-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    min-width: 300px;
    flex-grow: 1;
}

input:valid {
border: 2px solid black;
}

.row{
    max-height: 100vh;
    padding: 5px;
}

.toast-header {
    background: white !important;
}

.toast-body {
    background: white !important;
}

footer{
    height: 50px;
    text-align: center;
    margin: auto;
    color: red;
    border: 3px;
}

footer i{
    color: red;
}
