/* COMUM A MAIS DE UMA PÁGINA */
.page-bg {
    background-image: url('/imagens/comum/textura.jpeg');
    background-size: auto;
    background-repeat: repeat;
    width: 100%;
    padding-top: 30px;
}

.comum-header {
    background-color: #F6F6F6;
    height: 90px;
}

main {
    margin-top: 90px;
}

.main-contrucao{
    font-size: 60px;
    line-height: 0.8;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 3px 3px 5px red;
    margin-top: 10rem;
}

.voltaire-regular {
    font-family: "Voltaire", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* FOOTER */
footer {
    margin: auto;
    color: red;
    border: 3px;
    background-color: #F6F6F6;
}

.footer-row {
    max-width: 100%;
}

footer i {
    color: red;
}

.toast-container img{
    max-width: 150px;
}