.full-bg {
    background: url("../imagens/paginainicial/wpp-saothome.jpg") no-repeat center center fixed;
    background-size: cover;
}

.main-nav-active a {
    color: white !important;
    font-weight: bolder !important;
    text-shadow: 1px 1px red;
}

.navbar-collapse {
    padding-left: 100px;
}

.main-nav a {
    color: white !important;
    font-weight: bolder !important;
    text-shadow: 1px 1px black;
}